* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
    color: #000000;
}


.instruction {
    color: #0000ff;
    background-color: #ffffff;
}

.settings {
    color: #0000ff;
    background-color: #ffffff;
}

.index.html {
    color: #0000ff;
    background-color: #ffffff;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background: #0d614b;
    padding: 40px 60px;
}

h1 {
    color: #ededed;
    background-color: #0b654d;
}

h2 {
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}

.score, .timer {
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
}

.paused {
    opacity: 0.5;
    pointer-events: none; /* Disable interactions */
}

.pause {
    padding: 15px 20px;
    color: #267c65;
    font-weight: 600;
    background: #fff;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
} 

.reset {
    /* padding: 15px 20px; */
    color: #267c65;
    background: #fff;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 20px; /* Added margin */
}

.reset:focus {
    color: #fff;
    background: #267c65;
    text-align: center;
}

.game-container {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #209d7b;
    margin-bottom: 20px; /* Added margin */
}

.game {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }

.timer {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}

.scorebox {
    border-radius: 25%;
    box-sizing: border-box;
    position: absolute;
    background-color: #fff;
    height: 80px;
    width: 80px;
    top: 210px;
    left: 210px;
    text-align: center;
    color: #209d7b;
    font-size: 3em;
    /* padding-top: 10px; */
}

.item {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background: #fff;
    transform: rotateY(180deg);
    transition: 0.25s;
}

.item.boxOpen {
    transform: rotateY(0deg);
}

.item::after {
    content: '';
    position: absolute;
    inset: 0;
    background: #209d7b;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.boxOpen:after,
.boxMatch:after {
    transform: rotateY(180deg);
}

.boxOpen {
    background-color: green;
}

.boxMatch {
    background-color: green;
}